#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#github-container {
  display: flex;
}

ul {
  list-style: none;
}
#user-list li{
  display: inline-block;
  padding: 10px;
  cursor: pointer;
}
img{
  width: 200px;
  height: 200px;
}